{% extends "base.html" %}

{% block content %}

<div class="row">
    <a href="/whereyouat"><h1 class="colorfy">YO DUDE WHATS GOOD</h1></a>
</div>
<a href="javascript:(function()%7Bjavascript:var%20s%3Ddocument.createElement(%27script%27)%3Bs.setAttribute(%27src%27,%27https://nthitz.github.io/turndownforwhatjs/tdfw.js%27)%3Bdocument.body.appendChild(s)%3B%7D)()%3B"><img src="http://i1.kym-cdn.com/entries/icons/original/000/011/121/tumblr_m8t7bxSG2k1r61mz1o5_250.gif" style="min-width:500px;min-height:500px;"></a>

<img src="static/img/test/7upspot.gif" /><img src="static/img/test/construction.gif">       <img src="static/img/test/divider2.gif">           <img src="static/img/test/funky.gif">              <img src="static/img/test/ie_logo.gif">            <img src="static/img/test/noframes.gif">           <img src="static/img/test/underconstruction.gif"><img src="static/img/test/americanflag.gif">       <img src="static/img/test/counter.gif">            <img src="static/img/test/divider3.gif">           <img src="static/img/test/geocities.jpg">          <img src="static/img/test/mailkitten.gif">         <img src="static/img/test/notepad.gif">            <img src="static/img/test/wabwalk.gif">

{% endblock %}

{% block scripts %}
{% endblock %}
