{% extends "base.html" %}

{% block content %}

<div class="row">
    <h1 class="colorfy">About Synonymous</h1>
    <div class="well">
        <div class="row">
            <div class="span12">
            <h2>Who we are</h2>
            <p>We are an elite group of individuals who attempt to rid the world of lies by unveiling the true nature of organizations by seizing control of their digial precence.
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Our Pwns</h2>
                <ul>
                    <li>Xbox</li>
                    <li>Sony</li>
                    <li>Apple</li>
                    <li>Best Buy</li>
                    <li>Trader Joes</li>
                    <li>The Whitehouse</li>
                    <li>Westboro Baptist Church</li>
                    <li>Westboro Baptist Church (twice)</li>
                    <li>The World</li>
                    <li>Mars</li>
                    <li>Your Mom</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
