{% extends "base.html" %}

{% block style %}
<style>
img {
	width: 50%;
    max-width: 400px;
	margin: 0 35%;
}
</style>
{% endblock %}

{% block content %}

<div class="row">
    <h1 class="colorfy">LOGIN!!!!!!!!!!!!!!!!!!!!!!</h1>
    <form action="/login" method="POST">
      <center><input type="text" name="usrname"></center>
      <center><input type="password" name="usrpass"></center>
      <center><input type="submit"></center>
    </form>
    <img src="https://i.imgur.com/CEH5suf.jpg" />
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
    <a href="/lol" class="btn btn-primary btn-large">LOL</a>
</div>

{% endblock %}

